		<!-- Container start -->
		<div class="container">
            <form #passwordForm="ngForm">
                      <div class="row justify-content-md-center">
                          <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                              <div class="login-screen">
                                  <div class="login-box">
                                      <a href="#" class="login-logo" style="justify-content: center;">
                        <img src="assets/img/logo.png" alt="SmartQ Admin Dashboard" />
                                      </a>
                                      <h5>The Email verification link have been expired, kindly click Resend Email button to re-send the link to your email address.</h5>
      
                      <!-- <div *ngIf="errors.length > 0" class="alert alert-danger">
                        <ul *ngFor = "let error of errors">
                            <li>{{ error }}</li>
                        </ul>
                        </div>
      
                        <div class="form-group">
                          <p><code>Email</code></p>
                          <input type="email" class="form-control" placeholder="Email" [(ngModel)] = "formData.email"
                                                                                        name="email"
                                                                                        #email = "ngModel"
                                                                                        required />
                        </div> -->
      
                                      <div class="actions">
                        <button *ngIf="!loading" (click) = "verification()" type="submit" class="btn btn-info" [disabled] = "!passwordForm.form.valid">Resend Email Verification</button>
                        <button *ngIf="loading" class="btn btn-info" type="button">
                          <span class="spinner-border spinner-border-sm"></span>
                          Loading...
                        </button>
                                      </div>
                      <hr>
                                      <div class="m-0">
                                          <span class="additional-link">Have an account? <a [routerLink]="['/auth/login']" class="btn btn-dark">Login</a></span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
      
              </div>
              <!-- Container end -->
      